<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="./fragments/head.html :: head"></head>
<body>
    <div class="app horizontal-menu align-content-stretch d-flex flex-wrap">
        <div class="app-container">
            <div class="search container">
                <form>
                    <input class="form-control" type="text" placeholder="Type here..." aria-label="Search">
                </form>
                <a href="#" class="toggle-search"><i class="material-icons">close</i></a>
            </div>
            
            <div th:replace="./fragments/header.html :: header"></div>
            <!-- ====SUB-SIDEBAR FOR USER ROLE-->
            <th:block sec:authorize="hasRole('USER')">
            	<div th:replace="./fragments/sidebar.html :: sidebar_user"></div>
            </th:block>
            <!-- ====SUB-SIDEBAR FOR USER ROLE-->
            
            <!-- ====SUB-SIDEBAR FOR ADMIN ROLE-->
            <th:block sec:authorize="hasRole('ADMIN')">
            	<div th:replace="./fragments/sidebar.html :: sidebar_admin"></div>
            </th:block>
            <!-- ====SUB-SIDEBAR FOR ADMIN ROLE-->
            
            <div class="app-content">
                <div class="content-wrapper">
                    <div class="container">
                        <!-- CONTAINER -->

                        <!-- ======= HEADER TITLE -->
                        <div class="row">
                            <div class="col">
                                <div class="page-description d-flex align-items-center">
                                    <div class="page-description-content flex-grow-1">
                                        <h1>Course Category</h1>
                                    </div>
                                    <div class="page-description-actions">
                                        <a href="#" class="btn btn-primary"><i class="material-icons">add</i>Upload
                                            File</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ======= HEADER TITLE -->

                        <!-- ======= COURSE CATEGORY SECTION ======-->
                         <div class="row d-flex justify-content-center">
					        <div class="col-md-6 ">
					            <div class="card justify-content-center">
					                <div class="card-header">
					                    <h5 class="card-title">Add Course Category</h5>
					                </div>
					                <div class="card-body">
					                    <p class="card-description">Here’s a quick example to demonstrate simple input field. Add
					                        <code>.light-focus</code> to <code>.form-control</code> to get lighter border on focus.
					                    </p>
					                    <div class="example-container">
					                        <div class="example-content">
					                            <form th:action="@{/category/course/addCategory}" method="post" th:object="${courseCategoryDao}">
					                                <label for="exampleInputEmail1" class="form-label">Course
					                                    Category Name</label>
					                                <input type="text" name="categoryName" class="form-control" id="exampleInputEmail1"
					                                    aria-describedby="emailHelp">
					                                <div id="emailHelp" class="form-text">We'll never
					                                    share your email with anyone else.</div>
					                                <div class="mt-2 text-center">
					                                    <button type="submit" class="btn btn-primary">Add Category</button>
					                                </div>
					                            </form>
					                        </div>
					                    </div>
					                </div>
					            </div>
					        </div>
					    </div>
                        <!-- ======= COURSE CATEGORY SECTION ======-->
                    </div> <!-- CONTAINER -->

                </div>
            </div>
        </div>
    </div>

     <th:block th:insert="./fragments/script.html :: script"></th:block>
</body>

</html>